.calc{

  width: 300px;
  margin: 50px auto;
}
.handing{
  width: 300px;
  margin-left: 658px;
  margin-top: 40px;
  
}

#ans{

  background-color: aqua;
  padding: 10px;
  font-size: 45px;
  width: 275px;
  height: 45;
  text-align: right;
  border: 3px solid;
}

.button{

  background-color: black;
  height: 80px;
  width: 60px;
  color: beige;
  font-size: 30px;
  border: 1px solid blueviolet;
  float: left;
}

.button1{
  background-color:green;
  height: 80px;
  width: 240px;
  color: beige;
  font-size: 30px;
  border: 1px solid blueviolet;
  float: left;

}